
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.calculator > * {
  padding: 30px;
  border: 1px blue solid;
  color: #c9b4b4;
}

.row{
  grid-column: 1/-1;
  text-align: right;

}
